@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');
* {
   margin: 0%;
   padding: 0%;
   color: white;
   font-family: "Roboto", sans-serif
}
a{
    color: white;
    text-decoration: none; 
}

$bg: rgb(16,16,16);
.header{
    height: 80px;
    background-color: $bg;
    display:flex;
    align-items: center;
    padding: 0rem;
    box-sizing: border-box;
    justify-content: space-between;

  > img{
    height: 140%;
  }

  > div {
    font-size: 1.4rem;
    cursor: pointer;
    width: 100%;
    margin-left: 4vmax;

    > a{
        margin: 2vmax;
        font-weight: 150;
    }
    
  }  

  >svg {
    color: white;
    margin-right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;  
  
  }
}
